body {
    margin: 0;
    background-color: aliceblue;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";	
}

a{
	color: white;
	font-display: auto;
	text-decoration: none;
}

header {
    background: #1C282E;
    color: white;
    padding: 1% 1% 4% 5%;
	text-align: center;
}

header h1 {
    margin: 0;
    display: inline;
	color: white;
	float: left;
	font-size: 200%;
}

header img{
	float: left;
}

nav ul {
    margin: 0;
    display: inline;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    background: black;
    padding: 5px 15px;
}

nav ul li a {
    color: #FFFFFF;
    /* background: black; */
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col {
    background: #555;
    color: white;
    float: left;
    margin: 1%;
    width: 31%;
    border-radius: 5px;
    padding: 10px 0px;
}

.tabcontent {
      display:none;
}
#control {
      font-size: 12px;
}

td:hover{
	color: cadetblue;
	transition: all 0.3s linear;
}

.myPanel{
	padding-top: 10px;
}

.myPanel:after{
	clear: both;
    content: "";
    display: table;
}

.myPanel2 {
/*    left: 800px;*/
	float: left;
/*	height: 700px;*/
	margin-left: 0.5%;
/*	position: fixed;*/
	width: 22%;
/*	object-position: right;*/
/*	border: 1px solid ;*/
    /*size, style, color*/
/*	border: 1px solid #65a2b1;*/
    border-radius: 10px;
    /*dri kiri atas arah jarum jam*/
    box-shadow: 0px 0px 2px grey;
    /*x y blur color*/
/*    margin: 3%;*/
/*	width: 31%;k*/
}



.myPanel2 .header {
    background-color: #344B57;
	text-align: center;
/*    border: 1px solid #65a2b1;*/
    /*size, style, color*/
    border-radius: 10px 10px 0 0;
    /*dri kiri atas arah jarum jam*/
    color: aliceblue;
    padding: 10px 20px;
    /*top-bottom     left-tight*/
}

.myPanel2 .header:hover{
	color: aqua;
	transition: all 0.4s linear;
}

.myPanel2 .body {
    color: grey;
	background-color: aliceblue;
	padding: 10px 20px;
	border-radius: 0 0 10px 10px;
    /*top-bottom     left-tight*/
}

.myPanel2 .showOnHover {
    display: none;
}

.myPanel2:hover {
/*    border: 2px solid #5F95D5;*/
    /*size, style, color*/
    box-shadow: 0px 5px 50px #666;
    /*x y blur color*/
}


.myPanel1 {
/*    left: 355px;*/
/*	position: fixed;*/
	margin-right: 1%;
	height: 400px;
	float: right;
	width: 76%;
    /*size, style, color*/
    border-radius: 10px;
    /*dri kiri atas arah jarum jam*/
    box-shadow: 0px 0px 2px grey;
    /*x y blur color*/
/*    margin: 3%;*/
/*	width: 31%;k*/
}

.myPanel1 .header {
    background-color: #344B57;
	text-align: center;
/*    border: 1px solid #65a2b1;*/
    /*size, style, color*/
    border-radius: 10px 10px 0 0;
    /*dri kiri atas arah jarum jam*/
    color: aliceblue;
    padding: 10px 20px;
    /*top-bottom     left-tight*/
}

.myPanel1 .header:hover{
	color: aqua;
	transition: all 0.4s linear;
}

.myPanel1 .body {
    color: grey;
/*	background-color: aliceblue;*/
	padding: 10px 20px;
	border-radius: 10px 10px 10px 10px;
    /*top-bottom     left-tight*/
}

.myPanel1 .body .setting{
	float: right;
	width: 40%;
}

.myPanel1:hover {
/*    border: 2px solid #5F95D5;*/
    /*size, style, color*/
    box-shadow: 0px 5px 50px #666;
    /*x y blur color*/
}

.button {
	width: 15%;
	text-decoration: none;
	background: #1C282E;
/*	margin-top: 40px;*/
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 0.7%;
/*	padding-right: 10px;*/
/*	padding-bottom: 20px;*/
/*	padding-left: 10px;*/
	text-align: center;
	vertical-align: middle;
	border-radius: 100px;
	text-transform: uppercase;
/*	font-weight: bold;*/
	letter-spacing: 2px;
/*	border: 1px solid #FFFFFF;*/
	color: white;
/*	transition: all 0.4s linear;*/
	float: right;
}
/*.button:hover {*/
	background-color: #344B57;
	transition: all 0.5s linear;
	color: aquamarine;
/*	cursor: pointer;*/
}

.button a{
	text-decoration: none;
}

.button a:hover{
	color: aqua;
	transition: all 0.4s linear;
	text-decoration: none;
}

 
footer{
	text-align: center;
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 200px;
	background-color: #344B57;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}